/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1 {
    display: flex;
    justify-content: center;
}

/* Commant CSS Utilitis */
body {
    border: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #F3F1FF;
}

/* Top Players Section */
main {
    display: flex;
    justify-content: center;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

.top-players {
    /* padding: 30px; */
    margin-bottom: 22px;
}

h2.section-title {
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 65px;
    height: 65px;
}

.name-title {
    margin-left: 16px;
    font-size: 18px;
    font-weight: normal;
}

.horigantal-line {
    border: 1px solid #D1D1D1;
    width: 807px;
}

/* ------------------ blogs details information-------------- */
.blogs-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blogs {
    display: flex;
}

.blogs .blog-thimble img {
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog-contain h2 {
    font-size: 20px;
    margin: 0;
}

.blog-contain .blog-auther {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-contain .blog-auther a {
    color: #562EFF;
    font-size: 16px;
    text-decoration: none;
}

.blog-contain p {
    margin-top: 6px;
}